.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5c719a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder ;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add this to your CSS file or style block */
.app-container {
  padding: 10px;
  background-color: #f8f9fa; /* Optional: Add a background color for better visibility */
}

/* app.css */
body {
  background-color: #a7adaa; /* Default background color for all pages */
}

/* Home page */
.jumbotron {
  background-color: #020605;
  color: #ffffff;
}

/* AboutUs page */
.card.text-center {
  background-color: #88d7f4;
  color: #ffffff;
}

/* Login page */
.card-header.bg-primary {
  background-color: #f1a820;
  color: #ffffff;
}

/* Contact page */
.card.text-center {
  background-color: #23402a;
  color: #ffffff;
}

/* Jobs page */
.card {
  background-color: #054c48;
  color: #ffffff;
}

/* App.css */
nav {
  background-color: #d69b1b; /* Set your desired background color */
  padding: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff; /* Set your desired text color */
}

a:hover {
  text-decoration: underline;
}

.login-container{

  padding-top: 120px;
  align-items: center;

}
